@{
    ViewData["Title"] = "Contact Delete";
}

<div class="text-center">
    <h3>Do you really wish to delete the contact (Larry)</h3>

    <a class="btn btn-primary" role="button">Cancel</a>
    <a class="btn btn-danger" role="button">Confirm</a>
</div>