@{
    ViewData["Title"] = "Contact Delete";
}

<div class="text-center">
    <h3>Do you really wish to delete the contact (Larry)</h3>

    <a class="btn btn-primary" role="button" asp-controller="Contact" asp-action="Index">Cancel</a>
    <a class="btn btn-danger" role="button" asp-controller="Contact" asp-action="Delete">Confirm</a>
</div>